// responsive
$max-width: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$min-width: 360px;

// colors
$black: #181818;
$dark: #1E1E1F;
$dark-gray: #2C2B2E;
$gray: #92949C;
$gray-sky: #B1C8D4;
$white: #F3F3F3;
$fiolet: #8734C8;
$fiolet-light: #A049E8;
$fiolet-dark: #5C1D7F;
$fiolet-black: #3D1361;

// elemets color
$grad-1: radial-gradient(88.89% 50% at 50% 50%, #6746C5 0%, #450046 100%);